In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('mineral_wise_revenue_collected.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Mineral      29 non-null     object
 1   2014 - 2015  29 non-null     object
 2   2015 - 2016  29 non-null     object
 3   2016 - 2017  29 non-null     object
 4   2017 - 2018  29 non-null     object
 5   2018 - 2019  29 non-null     object
 6   2019 - 2020  29 non-null     object
 7   2020 - 2021  29 non-null     object
 8   2021 - 2022  29 non-null     object
 9   2022 - 2023  29 non-null     object
 10  2023 - 2024  29 non-null     object
 11  2024 - 2025  29 non-null     object
dtypes: object(12)
memory usage: 2.8+ KB

In [3]:
df.head()

,Mineral,2014 - 2015,2015 - 2016,2016 - 2017,2017 - 2018,2018 - 2019,2019 - 2020,2020 - 2021,2021 - 2022,2022 - 2023,2023 - 2024,2024 - 2025
0,Bauxite,28281561.34,262230739.7,272416223.3,228446523.7,204143304,86434099,110223140,116421874,172325182.8,186290959,221516207
1,C0AL,0,0,0,0,0,0,0,0,0,44000000,296124000
2,China Clay,0,0,0,0,0,0,0,0,0,0,0
3,Chromite,0,50000,0,0,0,0,0,0,0,0,0
4,Coal,1602731,25404581,56516659,142605673,135891110.6,119310475,58012939,1578698455,1018204625,810695381,801948489

In [4]:
df

,Mineral,2014 - 2015,2015 - 2016,2016 - 2017,2017 - 2018,2018 - 2019,2019 - 2020,2020 - 2021,2021 - 2022,2022 - 2023,2023 - 2024,2024 - 2025
0,Bauxite,28281561.34,262230739.7,272416223.3,228446523.7,204143304,86434099,110223140,116421874,172325182.8,186290959,221516207
1,C0AL,0,0,0,0,0,0,0,0,0,44000000,296124000
2,China Clay,0,0,0,0,0,0,0,0,0,0,0
3,Chromite,0,50000,0,0,0,0,0,0,0,0,0
4,Coal,1602731,25404581,56516659,142605673,135891110.6,119310475,58012939,1578698455,1018204625,810695381,801948489
5,Corundum,0,0,0,0,0,0,0,0,0,0,0
6,Dolomite,11100,17264625,34353150,39600144,33810577,36681500,49835636,70055286,73298610,116249907.8,120569045
7,Fire Clay,0,0,0,0,0,0,0,0,0,0,0
8,Flespar,0,0,0,0,0,0,0,0,0,0,0
9,Fluorite,0,103680,1935150,490506,259625,1577551,698889,960630,431317,792000,396000
10,Iron Ore,1588934,177253821.9,199580366,185119687,247531998,213901163.7,290074810.5,1031615649,5520903225,7443802146,9718395899
11,Kynite,3554,124954,835515,3114149,2056981,993959,582495,406245,165264,757241,902605
12,Laterite,0,9686952,5441681,10900963,147406,0,0,0,0,0,0
13,Lateritic/Iron Ore,188005,5793223,7064525,8123700,0,0,0,0,120000,0,100000
14,Limestone,424599497,846276031,995275858,1301690489,1176066417,1547094095,1383107244,1828256176,1451535306,1606361895,1695853388
15,Low Fire Clay,0,0,0,0,0,0,0,0,0,0,0
16,Manganese,5981126,76645521.49,296202334,304341282.6,277310819.4,315628659.2,341392218,579711839,526587879.5,114884169.5,421514668
17,Pyrophyllite,0,35300,79200,60000,26542,36627,17600,73060,8800,4400,18050
18,Quartz,0,25500,0,0,0,35000,400000,0,0,0,0
19,Quartzite,250200,2471581,3373010,1747436,1437818,446789,216000,0,0,0,0
20,Sand,0,0,0,0,0,0,0,0,0,0,0
21,Sand Stowing,63090,63090,63090,63090,63090,63270,63270,816030,464850,369000,479700
22,Shale,0,5577122,0,0,482328,3648260,4016872,1363015,0,0,0
23,Silica Sand,0,0,0,0,0,0,0,0,0,0,0
24,Silliminite,100700,87100,546777,508942,2025069,2104696,1768325,675839,72000,0,0
25,Waste (Minor),0,0,0,0,0,0,0,0,0,55984952,140408352
26,Waste Low Grade Quartzite (Minor),0,0,0,0,0,0,0,0,0,498000,444000
27,White Clay,0,0,0,0,0,0,0,0,0,0,0
28,Total,"46,26,70,498.34","1,42,90,93,822.06","1,87,36,83,538.32","2,22,68,12,585.40","2,08,12,53,084.50","2,32,79,56,143.51","2,24,04,09,438.30","5,20,90,54,098.15","8,76,41,17,059.76","10,38,06,90,051.27","13,41,86,70,403.46"

In [5]:
df["Mineral"]

0                               Bauxite
1                                  C0AL
2                            China Clay
3                              Chromite
4                                  Coal
5                              Corundum
6                              Dolomite
7                             Fire Clay
8                               Flespar
9                              Fluorite
10                             Iron Ore
11                               Kynite
12                             Laterite
13                   Lateritic/Iron Ore
14                            Limestone
15                        Low Fire Clay
16                            Manganese
17                         Pyrophyllite
18                               Quartz
19                            Quartzite
20                                 Sand
21                         Sand Stowing
22                                Shale
23                          Silica Sand
24                          Silliminite
25                        Waste (Minor)
26    Waste Low Grade Quartzite (Minor)
27                           White Clay
28                                Total
Name: Mineral, dtype: object

In [6]:
df.dropna()

,Mineral,2014 - 2015,2015 - 2016,2016 - 2017,2017 - 2018,2018 - 2019,2019 - 2020,2020 - 2021,2021 - 2022,2022 - 2023,2023 - 2024,2024 - 2025
0,Bauxite,28281561.34,262230739.7,272416223.3,228446523.7,204143304,86434099,110223140,116421874,172325182.8,186290959,221516207
1,C0AL,0,0,0,0,0,0,0,0,0,44000000,296124000
2,China Clay,0,0,0,0,0,0,0,0,0,0,0
3,Chromite,0,50000,0,0,0,0,0,0,0,0,0
4,Coal,1602731,25404581,56516659,142605673,135891110.6,119310475,58012939,1578698455,1018204625,810695381,801948489
5,Corundum,0,0,0,0,0,0,0,0,0,0,0
6,Dolomite,11100,17264625,34353150,39600144,33810577,36681500,49835636,70055286,73298610,116249907.8,120569045
7,Fire Clay,0,0,0,0,0,0,0,0,0,0,0
8,Flespar,0,0,0,0,0,0,0,0,0,0,0
9,Fluorite,0,103680,1935150,490506,259625,1577551,698889,960630,431317,792000,396000
10,Iron Ore,1588934,177253821.9,199580366,185119687,247531998,213901163.7,290074810.5,1031615649,5520903225,7443802146,9718395899
11,Kynite,3554,124954,835515,3114149,2056981,993959,582495,406245,165264,757241,902605
12,Laterite,0,9686952,5441681,10900963,147406,0,0,0,0,0,0
13,Lateritic/Iron Ore,188005,5793223,7064525,8123700,0,0,0,0,120000,0,100000
14,Limestone,424599497,846276031,995275858,1301690489,1176066417,1547094095,1383107244,1828256176,1451535306,1606361895,1695853388
15,Low Fire Clay,0,0,0,0,0,0,0,0,0,0,0
16,Manganese,5981126,76645521.49,296202334,304341282.6,277310819.4,315628659.2,341392218,579711839,526587879.5,114884169.5,421514668
17,Pyrophyllite,0,35300,79200,60000,26542,36627,17600,73060,8800,4400,18050
18,Quartz,0,25500,0,0,0,35000,400000,0,0,0,0
19,Quartzite,250200,2471581,3373010,1747436,1437818,446789,216000,0,0,0,0
20,Sand,0,0,0,0,0,0,0,0,0,0,0
21,Sand Stowing,63090,63090,63090,63090,63090,63270,63270,816030,464850,369000,479700
22,Shale,0,5577122,0,0,482328,3648260,4016872,1363015,0,0,0
23,Silica Sand,0,0,0,0,0,0,0,0,0,0,0
24,Silliminite,100700,87100,546777,508942,2025069,2104696,1768325,675839,72000,0,0
25,Waste (Minor),0,0,0,0,0,0,0,0,0,55984952,140408352
26,Waste Low Grade Quartzite (Minor),0,0,0,0,0,0,0,0,0,498000,444000
27,White Clay,0,0,0,0,0,0,0,0,0,0,0
28,Total,"46,26,70,498.34","1,42,90,93,822.06","1,87,36,83,538.32","2,22,68,12,585.40","2,08,12,53,084.50","2,32,79,56,143.51","2,24,04,09,438.30","5,20,90,54,098.15","8,76,41,17,059.76","10,38,06,90,051.27","13,41,86,70,403.46"

In [8]:
df["Mineral"].value_counts()

Mineral
Bauxite                              1
Low Fire Clay                        1
White Clay                           1
Waste Low Grade Quartzite (Minor)    1
Waste (Minor)                        1
Silliminite                          1
Silica Sand                          1
Shale                                1
Sand Stowing                         1
Sand                                 1
Quartzite                            1
Quartz                               1
Pyrophyllite                         1
Manganese                            1
Limestone                            1
C0AL                                 1
Lateritic/Iron Ore                   1
Laterite                             1
Kynite                               1
Iron Ore                             1
Fluorite                             1
Flespar                              1
Fire Clay                            1
Dolomite                             1
Corundum                             1
Coal                                 1
Chromite                             1
China Clay                           1
Total                                1
Name: count, dtype: int64

In [10]:
df["Mineral"]=df["Mineral"].str.strip().str.upper()

In [11]:
df["Mineral"]

0                               BAUXITE
1                                  C0AL
2                            CHINA CLAY
3                              CHROMITE
4                                  COAL
5                              CORUNDUM
6                              DOLOMITE
7                             FIRE CLAY
8                               FLESPAR
9                              FLUORITE
10                             IRON ORE
11                               KYNITE
12                             LATERITE
13                   LATERITIC/IRON ORE
14                            LIMESTONE
15                        LOW FIRE CLAY
16                            MANGANESE
17                         PYROPHYLLITE
18                               QUARTZ
19                            QUARTZITE
20                                 SAND
21                         SAND STOWING
22                                SHALE
23                          SILICA SAND
24                          SILLIMINITE
25                        WASTE (MINOR)
26    WASTE LOW GRADE QUARTZITE (MINOR)
27                           WHITE CLAY
28                                TOTAL
Name: Mineral, dtype: object

In [12]:
df["Mineral"]=df["Mineral"].str.replace("0","O",regex=False)

In [13]:
df["Mineral"]

0                               BAUXITE
1                                  COAL
2                            CHINA CLAY
3                              CHROMITE
4                                  COAL
5                              CORUNDUM
6                              DOLOMITE
7                             FIRE CLAY
8                               FLESPAR
9                              FLUORITE
10                             IRON ORE
11                               KYNITE
12                             LATERITE
13                   LATERITIC/IRON ORE
14                            LIMESTONE
15                        LOW FIRE CLAY
16                            MANGANESE
17                         PYROPHYLLITE
18                               QUARTZ
19                            QUARTZITE
20                                 SAND
21                         SAND STOWING
22                                SHALE
23                          SILICA SAND
24                          SILLIMINITE
25                        WASTE (MINOR)
26    WASTE LOW GRADE QUARTZITE (MINOR)
27                           WHITE CLAY
28                                TOTAL
Name: Mineral, dtype: object

In [14]:
df["Mineral"]=df["Mineral"].str.replace("QUARTZ","QUARTZITE",regex=False)

In [15]:
df["Mineral"]

0                                  BAUXITE
1                                     COAL
2                               CHINA CLAY
3                                 CHROMITE
4                                     COAL
5                                 CORUNDUM
6                                 DOLOMITE
7                                FIRE CLAY
8                                  FLESPAR
9                                 FLUORITE
10                                IRON ORE
11                                  KYNITE
12                                LATERITE
13                      LATERITIC/IRON ORE
14                               LIMESTONE
15                           LOW FIRE CLAY
16                               MANGANESE
17                            PYROPHYLLITE
18                               QUARTZITE
19                            QUARTZITEITE
20                                    SAND
21                            SAND STOWING
22                                   SHALE
23                             SILICA SAND
24                             SILLIMINITE
25                           WASTE (MINOR)
26    WASTE LOW GRADE QUARTZITEITE (MINOR)
27                              WHITE CLAY
28                                   TOTAL
Name: Mineral, dtype: object

In [16]:
df["Mineral"]=df["Mineral"].str.replace("QUARTZITEITE","QUARTZITE",regex=False)

In [28]:
df["Mineral"].value_counts()

Mineral
QUARTZITE                            2
COAL                                 2
BAUXITE                              1
LOW FIRE CLAY                        1
WHITE CLAY                           1
WASTE LOW GRADE QUARTZITE (MINOR)    1
WASTE (MINOR)                        1
SILLIMINITE                          1
SILICA SAND                          1
SHALE                                1
SAND STOWING                         1
SAND                                 1
PYROPHYLLITE                         1
MANGANESE                            1
LIMESTONE                            1
LATERITIC/IRON ORE                   1
LATERITE                             1
KYNITE                               1
IRON ORE                             1
FLUORITE                             1
FLESPAR                              1
FIRE CLAY                            1
DOLOMITE                             1
CORUNDUM                             1
CHROMITE                             1
CHINA CLAY                           1
TOTAL                                1
Name: count, dtype: int64

In [29]:
year_cols = df.columns.drop("Mineral")
year_cols

Index(['2014 - 2015', '2015 - 2016', '2016 - 2017', '2017 - 2018',
       '2018 - 2019', '2019 - 2020', '2020 - 2021', '2021 - 2022',
       '2022 - 2023', '2023 - 2024', '2024 - 2025'],
      dtype='object')

In [30]:
df[year_cols] = df[year_cols].apply(pd.to_numeric, errors="coerce")

In [31]:
grouped_df = df.groupby("Mineral")[year_cols].sum()
grouped_df

,2014 - 2015,2015 - 2016,2016 - 2017,2017 - 2018,2018 - 2019,2019 - 2020,2020 - 2021,2021 - 2022,2022 - 2023,2023 - 2024,2024 - 2025
Mineral,,,,,,,,,,,
BAUXITE,2.828156e+07,2.622307e+08,272416223.3,2.284465e+08,2.041433e+08,8.643410e+07,1.102231e+08,1.164219e+08,1.723252e+08,1.862910e+08,2.215162e+08
CHINA CLAY,0.000000e+00,0.000000e+00,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
CHROMITE,0.000000e+00,5.000000e+04,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
COAL,1.602731e+06,2.540458e+07,56516659.0,1.426057e+08,1.358911e+08,1.193105e+08,5.801294e+07,1.578698e+09,1.018205e+09,8.546954e+08,1.098072e+09
CORUNDUM,0.000000e+00,0.000000e+00,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
DOLOMITE,1.110000e+04,1.726462e+07,34353150.0,3.960014e+07,3.381058e+07,3.668150e+07,4.983564e+07,7.005529e+07,7.329861e+07,1.162499e+08,1.205690e+08
FIRE CLAY,0.000000e+00,0.000000e+00,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
FLESPAR,0.000000e+00,0.000000e+00,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
FLUORITE,0.000000e+00,1.036800e+05,1935150.0,4.905060e+05,2.596250e+05,1.577551e+06,6.988890e+05,9.606300e+05,4.313170e+05,7.920000e+05,3.960000e+05
IRON ORE,1.588934e+06,1.772538e+08,199580366.0,1.851197e+08,2.475320e+08,2.139012e+08,2.900748e+08,1.031616e+09,5.520903e+09,7.443802e+09,9.718396e+09
KYNITE,3.554000e+03,1.249540e+05,835515.0,3.114149e+06,2.056981e+06,9.939590e+05,5.824950e+05,4.062450e+05,1.652640e+05,7.572410e+05,9.026050e+05
LATERITE,0.000000e+00,9.686952e+06,5441681.0,1.090096e+07,1.474060e+05,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
LATERITIC/IRON ORE,1.880050e+05,5.793223e+06,7064525.0,8.123700e+06,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.200000e+05,0.000000e+00,1.000000e+05
LIMESTONE,4.245995e+08,8.462760e+08,995275858.0,1.301690e+09,1.176066e+09,1.547094e+09,1.383107e+09,1.828256e+09,1.451535e+09,1.606362e+09,1.695853e+09
LOW FIRE CLAY,0.000000e+00,0.000000e+00,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
MANGANESE,5.981126e+06,7.664552e+07,296202334.0,3.043413e+08,2.773108e+08,3.156287e+08,3.413922e+08,5.797118e+08,5.265879e+08,1.148842e+08,4.215147e+08
PYROPHYLLITE,0.000000e+00,3.530000e+04,79200.0,6.000000e+04,2.654200e+04,3.662700e+04,1.760000e+04,7.306000e+04,8.800000e+03,4.400000e+03,1.805000e+04
QUARTZITE,2.502000e+05,2.497081e+06,3373010.0,1.747436e+06,1.437818e+06,4.817890e+05,6.160000e+05,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
SAND,0.000000e+00,0.000000e+00,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
SAND STOWING,6.309000e+04,6.309000e+04,63090.0,6.309000e+04,6.309000e+04,6.327000e+04,6.327000e+04,8.160300e+05,4.648500e+05,3.690000e+05,4.797000e+05
SHALE,0.000000e+00,5.577122e+06,0.0,0.000000e+00,4.823280e+05,3.648260e+06,4.016872e+06,1.363015e+06,0.000000e+00,0.000000e+00,0.000000e+00
SILICA SAND,0.000000e+00,0.000000e+00,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
SILLIMINITE,1.007000e+05,8.710000e+04,546777.0,5.089420e+05,2.025069e+06,2.104696e+06,1.768325e+06,6.758390e+05,7.200000e+04,0.000000e+00,0.000000e+00
TOTAL,0.000000e+00,0.000000e+00,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
WASTE (MINOR),0.000000e+00,0.000000e+00,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,5.598495e+07,1.404084e+08
WASTE LOW GRADE QUARTZITE (MINOR),0.000000e+00,0.000000e+00,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,4.980000e+05,4.440000e+05
WHITE CLAY,0.000000e+00,0.000000e+00,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00

In [32]:
grouped_df.describe()

,2014 - 2015,2015 - 2016,2016 - 2017,2017 - 2018,2018 - 2019,2019 - 2020,2020 - 2021,2021 - 2022,2022 - 2023,2023 - 2024,2024 - 2025
count,2.700000e+01,2.700000e+01,2.700000e+01,2.700000e+01,2.700000e+01,2.700000e+01,2.700000e+01,2.700000e+01,2.700000e+01,2.700000e+01,2.700000e+01
mean,1.713594e+07,5.292940e+07,6.939569e+07,8.247454e+07,7.708345e+07,8.622060e+07,8.297813e+07,1.929279e+08,3.245969e+08,3.844700e+08,4.969878e+08
std,8.161760e+07,1.695819e+08,2.025603e+08,2.565995e+08,2.338779e+08,3.013578e+08,2.735656e+08,4.902354e+08,1.093541e+09,1.451718e+09,1.882316e+09
min,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,0.000000e+00,6.309000e+04,6.309000e+04,6.000000e+04,2.654200e+04,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
75%,1.443525e+05,7.740088e+06,6.253103e+06,9.512332e+06,2.041025e+06,2.876478e+06,2.892598e+06,1.161822e+06,4.480835e+05,2.838848e+07,6.073582e+07
max,4.245995e+08,8.462760e+08,9.952759e+08,1.301690e+09,1.176066e+09,1.547094e+09,1.383107e+09,1.828256e+09,5.520903e+09,7.443802e+09,9.718396e+09

In [34]:
grouped_df=grouped_df[(grouped_df[year_cols]!=0).any(axis=1)]

In [35]:
grouped_df

,2014 - 2015,2015 - 2016,2016 - 2017,2017 - 2018,2018 - 2019,2019 - 2020,2020 - 2021,2021 - 2022,2022 - 2023,2023 - 2024,2024 - 2025
Mineral,,,,,,,,,,,
BAUXITE,2.828156e+07,2.622307e+08,272416223.3,2.284465e+08,2.041433e+08,8.643410e+07,1.102231e+08,1.164219e+08,1.723252e+08,1.862910e+08,2.215162e+08
CHROMITE,0.000000e+00,5.000000e+04,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
COAL,1.602731e+06,2.540458e+07,56516659.0,1.426057e+08,1.358911e+08,1.193105e+08,5.801294e+07,1.578698e+09,1.018205e+09,8.546954e+08,1.098072e+09
DOLOMITE,1.110000e+04,1.726462e+07,34353150.0,3.960014e+07,3.381058e+07,3.668150e+07,4.983564e+07,7.005529e+07,7.329861e+07,1.162499e+08,1.205690e+08
FLUORITE,0.000000e+00,1.036800e+05,1935150.0,4.905060e+05,2.596250e+05,1.577551e+06,6.988890e+05,9.606300e+05,4.313170e+05,7.920000e+05,3.960000e+05
IRON ORE,1.588934e+06,1.772538e+08,199580366.0,1.851197e+08,2.475320e+08,2.139012e+08,2.900748e+08,1.031616e+09,5.520903e+09,7.443802e+09,9.718396e+09
KYNITE,3.554000e+03,1.249540e+05,835515.0,3.114149e+06,2.056981e+06,9.939590e+05,5.824950e+05,4.062450e+05,1.652640e+05,7.572410e+05,9.026050e+05
LATERITE,0.000000e+00,9.686952e+06,5441681.0,1.090096e+07,1.474060e+05,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
LATERITIC/IRON ORE,1.880050e+05,5.793223e+06,7064525.0,8.123700e+06,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.200000e+05,0.000000e+00,1.000000e+05
LIMESTONE,4.245995e+08,8.462760e+08,995275858.0,1.301690e+09,1.176066e+09,1.547094e+09,1.383107e+09,1.828256e+09,1.451535e+09,1.606362e+09,1.695853e+09
MANGANESE,5.981126e+06,7.664552e+07,296202334.0,3.043413e+08,2.773108e+08,3.156287e+08,3.413922e+08,5.797118e+08,5.265879e+08,1.148842e+08,4.215147e+08
PYROPHYLLITE,0.000000e+00,3.530000e+04,79200.0,6.000000e+04,2.654200e+04,3.662700e+04,1.760000e+04,7.306000e+04,8.800000e+03,4.400000e+03,1.805000e+04
QUARTZITE,2.502000e+05,2.497081e+06,3373010.0,1.747436e+06,1.437818e+06,4.817890e+05,6.160000e+05,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
SAND STOWING,6.309000e+04,6.309000e+04,63090.0,6.309000e+04,6.309000e+04,6.327000e+04,6.327000e+04,8.160300e+05,4.648500e+05,3.690000e+05,4.797000e+05
SHALE,0.000000e+00,5.577122e+06,0.0,0.000000e+00,4.823280e+05,3.648260e+06,4.016872e+06,1.363015e+06,0.000000e+00,0.000000e+00,0.000000e+00
SILLIMINITE,1.007000e+05,8.710000e+04,546777.0,5.089420e+05,2.025069e+06,2.104696e+06,1.768325e+06,6.758390e+05,7.200000e+04,0.000000e+00,0.000000e+00
WASTE (MINOR),0.000000e+00,0.000000e+00,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,5.598495e+07,1.404084e+08
WASTE LOW GRADE QUARTZITE (MINOR),0.000000e+00,0.000000e+00,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,4.980000e+05,4.440000e+05

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Mineral      29 non-null     object
 1   2014 - 2015  28 non-null     float64
 2   2015 - 2016  28 non-null     float64
 3   2016 - 2017  28 non-null     float64
 4   2017 - 2018  28 non-null     float64
 5   2018 - 2019  28 non-null     float64
 6   2019 - 2020  28 non-null     float64
 7   2020 - 2021  28 non-null     float64
 8   2021 - 2022  28 non-null     float64
 9   2022 - 2023  28 non-null     float64
 10  2023 - 2024  28 non-null     float64
 11  2024 - 2025  28 non-null     float64
dtypes: float64(11), object(1)
memory usage: 2.8+ KB