In [49]:
import pandas as pd

In [50]:
df=pd.read_csv('mineral_wise_revenue_collected.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Mineral      29 non-null     object
 1   2014 - 2015  29 non-null     object
 2   2015 - 2016  29 non-null     object
 3   2016 - 2017  29 non-null     object
 4   2017 - 2018  29 non-null     object
 5   2018 - 2019  29 non-null     object
 6   2019 - 2020  29 non-null     object
 7   2020 - 2021  29 non-null     object
 8   2021 - 2022  29 non-null     object
 9   2022 - 2023  29 non-null     object
 10  2023 - 2024  29 non-null     object
 11  2024 - 2025  29 non-null     object
dtypes: object(12)
memory usage: 2.8+ KB

In [51]:
df

,Mineral,2014 - 2015,2015 - 2016,2016 - 2017,2017 - 2018,2018 - 2019,2019 - 2020,2020 - 2021,2021 - 2022,2022 - 2023,2023 - 2024,2024 - 2025
0,Bauxite,28281561.34,262230739.7,272416223.3,228446523.7,204143304,86434099,110223140,116421874,172325182.8,186290959,221516207
1,C0AL,0,0,0,0,0,0,0,0,0,44000000,296124000
2,China Clay,0,0,0,0,0,0,0,0,0,0,0
3,Chromite,0,50000,0,0,0,0,0,0,0,0,0
4,Coal,1602731,25404581,56516659,142605673,135891110.6,119310475,58012939,1578698455,1018204625,810695381,801948489
5,Corundum,0,0,0,0,0,0,0,0,0,0,0
6,Dolomite,11100,17264625,34353150,39600144,33810577,36681500,49835636,70055286,73298610,116249907.8,120569045
7,Fire Clay,0,0,0,0,0,0,0,0,0,0,0
8,Flespar,0,0,0,0,0,0,0,0,0,0,0
9,Fluorite,0,103680,1935150,490506,259625,1577551,698889,960630,431317,792000,396000
10,Iron Ore,1588934,177253821.9,199580366,185119687,247531998,213901163.7,290074810.5,1031615649,5520903225,7443802146,9718395899
11,Kynite,3554,124954,835515,3114149,2056981,993959,582495,406245,165264,757241,902605
12,Laterite,0,9686952,5441681,10900963,147406,0,0,0,0,0,0
13,Lateritic/Iron Ore,188005,5793223,7064525,8123700,0,0,0,0,120000,0,100000
14,Limestone,424599497,846276031,995275858,1301690489,1176066417,1547094095,1383107244,1828256176,1451535306,1606361895,1695853388
15,Low Fire Clay,0,0,0,0,0,0,0,0,0,0,0
16,Manganese,5981126,76645521.49,296202334,304341282.6,277310819.4,315628659.2,341392218,579711839,526587879.5,114884169.5,421514668
17,Pyrophyllite,0,35300,79200,60000,26542,36627,17600,73060,8800,4400,18050
18,Quartz,0,25500,0,0,0,35000,400000,0,0,0,0
19,Quartzite,250200,2471581,3373010,1747436,1437818,446789,216000,0,0,0,0
20,Sand,0,0,0,0,0,0,0,0,0,0,0
21,Sand Stowing,63090,63090,63090,63090,63090,63270,63270,816030,464850,369000,479700
22,Shale,0,5577122,0,0,482328,3648260,4016872,1363015,0,0,0
23,Silica Sand,0,0,0,0,0,0,0,0,0,0,0
24,Silliminite,100700,87100,546777,508942,2025069,2104696,1768325,675839,72000,0,0
25,Waste (Minor),0,0,0,0,0,0,0,0,0,55984952,140408352
26,Waste Low Grade Quartzite (Minor),0,0,0,0,0,0,0,0,0,498000,444000
27,White Clay,0,0,0,0,0,0,0,0,0,0,0
28,Total,"46,26,70,498.34","1,42,90,93,822.06","1,87,36,83,538.32","2,22,68,12,585.40","2,08,12,53,084.50","2,32,79,56,143.51","2,24,04,09,438.30","5,20,90,54,098.15","8,76,41,17,059.76","10,38,06,90,051.27","13,41,86,70,403.46"

In [54]:
df.loc[:, df.columns != "Mineral"] = df.loc[:, df.columns != "Mineral"].apply(
    pd.to_numeric, errors="coerce"
)

In [55]:
df

,Mineral,2014 - 2015,2015 - 2016,2016 - 2017,2017 - 2018,2018 - 2019,2019 - 2020,2020 - 2021,2021 - 2022,2022 - 2023,2023 - 2024,2024 - 2025
0,Bauxite,28281561.34,262230739.7,272416223.3,228446523.7,204143304.0,86434099.0,110223140.0,116421874.0,172325182.8,186290959.0,221516207.0
1,C0AL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,44000000.0,296124000.0
2,China Clay,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Chromite,0.0,50000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Coal,1602731.0,25404581.0,56516659.0,142605673.0,135891110.6,119310475.0,58012939.0,1578698455.0,1018204625.0,810695381.0,801948489.0
5,Corundum,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,Dolomite,11100.0,17264625.0,34353150.0,39600144.0,33810577.0,36681500.0,49835636.0,70055286.0,73298610.0,116249907.8,120569045.0
7,Fire Clay,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,Flespar,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,Fluorite,0.0,103680.0,1935150.0,490506.0,259625.0,1577551.0,698889.0,960630.0,431317.0,792000.0,396000.0
10,Iron Ore,1588934.0,177253821.9,199580366.0,185119687.0,247531998.0,213901163.7,290074810.5,1031615649.0,5520903225.0,7443802146.0,9718395899.0
11,Kynite,3554.0,124954.0,835515.0,3114149.0,2056981.0,993959.0,582495.0,406245.0,165264.0,757241.0,902605.0
12,Laterite,0.0,9686952.0,5441681.0,10900963.0,147406.0,0.0,0.0,0.0,0.0,0.0,0.0
13,Lateritic/Iron Ore,188005.0,5793223.0,7064525.0,8123700.0,0.0,0.0,0.0,0.0,120000.0,0.0,100000.0
14,Limestone,424599497.0,846276031.0,995275858.0,1301690489.0,1176066417.0,1547094095.0,1383107244.0,1828256176.0,1451535306.0,1606361895.0,1695853388.0
15,Low Fire Clay,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,Manganese,5981126.0,76645521.49,296202334.0,304341282.6,277310819.4,315628659.2,341392218.0,579711839.0,526587879.5,114884169.5,421514668.0
17,Pyrophyllite,0.0,35300.0,79200.0,60000.0,26542.0,36627.0,17600.0,73060.0,8800.0,4400.0,18050.0
18,Quartz,0.0,25500.0,0.0,0.0,0.0,35000.0,400000.0,0.0,0.0,0.0,0.0
19,Quartzite,250200.0,2471581.0,3373010.0,1747436.0,1437818.0,446789.0,216000.0,0.0,0.0,0.0,0.0
20,Sand,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21,Sand Stowing,63090.0,63090.0,63090.0,63090.0,63090.0,63270.0,63270.0,816030.0,464850.0,369000.0,479700.0
22,Shale,0.0,5577122.0,0.0,0.0,482328.0,3648260.0,4016872.0,1363015.0,0.0,0.0,0.0
23,Silica Sand,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24,Silliminite,100700.0,87100.0,546777.0,508942.0,2025069.0,2104696.0,1768325.0,675839.0,72000.0,0.0,0.0
25,Waste (Minor),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,55984952.0,140408352.0
26,Waste Low Grade Quartzite (Minor),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,498000.0,444000.0
27,White Clay,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
28,Total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [58]:
col_values=df.columns[df.columns !="Mineral"]

In [60]:
df=df[df[col_values].sum(axis=1)!=0]

In [61]:
df

,Mineral,2014 - 2015,2015 - 2016,2016 - 2017,2017 - 2018,2018 - 2019,2019 - 2020,2020 - 2021,2021 - 2022,2022 - 2023,2023 - 2024,2024 - 2025
0,Bauxite,28281561.34,262230739.7,272416223.3,228446523.7,204143304.0,86434099.0,110223140.0,116421874.0,172325182.8,186290959.0,221516207.0
1,C0AL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,44000000.0,296124000.0
3,Chromite,0.0,50000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Coal,1602731.0,25404581.0,56516659.0,142605673.0,135891110.6,119310475.0,58012939.0,1578698455.0,1018204625.0,810695381.0,801948489.0
6,Dolomite,11100.0,17264625.0,34353150.0,39600144.0,33810577.0,36681500.0,49835636.0,70055286.0,73298610.0,116249907.8,120569045.0
9,Fluorite,0.0,103680.0,1935150.0,490506.0,259625.0,1577551.0,698889.0,960630.0,431317.0,792000.0,396000.0
10,Iron Ore,1588934.0,177253821.9,199580366.0,185119687.0,247531998.0,213901163.7,290074810.5,1031615649.0,5520903225.0,7443802146.0,9718395899.0
11,Kynite,3554.0,124954.0,835515.0,3114149.0,2056981.0,993959.0,582495.0,406245.0,165264.0,757241.0,902605.0
12,Laterite,0.0,9686952.0,5441681.0,10900963.0,147406.0,0.0,0.0,0.0,0.0,0.0,0.0
13,Lateritic/Iron Ore,188005.0,5793223.0,7064525.0,8123700.0,0.0,0.0,0.0,0.0,120000.0,0.0,100000.0
14,Limestone,424599497.0,846276031.0,995275858.0,1301690489.0,1176066417.0,1547094095.0,1383107244.0,1828256176.0,1451535306.0,1606361895.0,1695853388.0
16,Manganese,5981126.0,76645521.49,296202334.0,304341282.6,277310819.4,315628659.2,341392218.0,579711839.0,526587879.5,114884169.5,421514668.0
17,Pyrophyllite,0.0,35300.0,79200.0,60000.0,26542.0,36627.0,17600.0,73060.0,8800.0,4400.0,18050.0
18,Quartz,0.0,25500.0,0.0,0.0,0.0,35000.0,400000.0,0.0,0.0,0.0,0.0
19,Quartzite,250200.0,2471581.0,3373010.0,1747436.0,1437818.0,446789.0,216000.0,0.0,0.0,0.0,0.0
21,Sand Stowing,63090.0,63090.0,63090.0,63090.0,63090.0,63270.0,63270.0,816030.0,464850.0,369000.0,479700.0
22,Shale,0.0,5577122.0,0.0,0.0,482328.0,3648260.0,4016872.0,1363015.0,0.0,0.0,0.0
24,Silliminite,100700.0,87100.0,546777.0,508942.0,2025069.0,2104696.0,1768325.0,675839.0,72000.0,0.0,0.0
25,Waste (Minor),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,55984952.0,140408352.0
26,Waste Low Grade Quartzite (Minor),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,498000.0,444000.0

In [67]:
df.loc[:, "Mineral"] = df["Mineral"].replace("C0AL", "Coal")
df.loc[:, "Mineral"] = df["Mineral"].replace("Quartzite", "Quartz")
df

,Mineral,2014 - 2015,2015 - 2016,2016 - 2017,2017 - 2018,2018 - 2019,2019 - 2020,2020 - 2021,2021 - 2022,2022 - 2023,2023 - 2024,2024 - 2025
0,Bauxite,28281561.34,262230739.7,272416223.3,228446523.7,204143304.0,86434099.0,110223140.0,116421874.0,172325182.8,186290959.0,221516207.0
1,Coal,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,44000000.0,296124000.0
3,Chromite,0.0,50000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Coal,1602731.0,25404581.0,56516659.0,142605673.0,135891110.6,119310475.0,58012939.0,1578698455.0,1018204625.0,810695381.0,801948489.0
6,Dolomite,11100.0,17264625.0,34353150.0,39600144.0,33810577.0,36681500.0,49835636.0,70055286.0,73298610.0,116249907.8,120569045.0
9,Fluorite,0.0,103680.0,1935150.0,490506.0,259625.0,1577551.0,698889.0,960630.0,431317.0,792000.0,396000.0
10,Iron Ore,1588934.0,177253821.9,199580366.0,185119687.0,247531998.0,213901163.7,290074810.5,1031615649.0,5520903225.0,7443802146.0,9718395899.0
11,Kynite,3554.0,124954.0,835515.0,3114149.0,2056981.0,993959.0,582495.0,406245.0,165264.0,757241.0,902605.0
12,Laterite,0.0,9686952.0,5441681.0,10900963.0,147406.0,0.0,0.0,0.0,0.0,0.0,0.0
13,Lateritic/Iron Ore,188005.0,5793223.0,7064525.0,8123700.0,0.0,0.0,0.0,0.0,120000.0,0.0,100000.0
14,Limestone,424599497.0,846276031.0,995275858.0,1301690489.0,1176066417.0,1547094095.0,1383107244.0,1828256176.0,1451535306.0,1606361895.0,1695853388.0
16,Manganese,5981126.0,76645521.49,296202334.0,304341282.6,277310819.4,315628659.2,341392218.0,579711839.0,526587879.5,114884169.5,421514668.0
17,Pyrophyllite,0.0,35300.0,79200.0,60000.0,26542.0,36627.0,17600.0,73060.0,8800.0,4400.0,18050.0
18,Quartz,0.0,25500.0,0.0,0.0,0.0,35000.0,400000.0,0.0,0.0,0.0,0.0
19,Quartz,250200.0,2471581.0,3373010.0,1747436.0,1437818.0,446789.0,216000.0,0.0,0.0,0.0,0.0
21,Sand Stowing,63090.0,63090.0,63090.0,63090.0,63090.0,63270.0,63270.0,816030.0,464850.0,369000.0,479700.0
22,Shale,0.0,5577122.0,0.0,0.0,482328.0,3648260.0,4016872.0,1363015.0,0.0,0.0,0.0
24,Silliminite,100700.0,87100.0,546777.0,508942.0,2025069.0,2104696.0,1768325.0,675839.0,72000.0,0.0,0.0
25,Waste (Minor),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,55984952.0,140408352.0
26,Waste Low Grade Quartzite (Minor),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,498000.0,444000.0

In [65]:
df["Mineral"].replace("Quartzite","Quartz")

0                               Bauxite
1                                  C0AL
3                              Chromite
4                                  Coal
6                              Dolomite
9                              Fluorite
10                             Iron Ore
11                               Kynite
12                             Laterite
13                   Lateritic/Iron Ore
14                            Limestone
16                            Manganese
17                         Pyrophyllite
18                               Quartz
19                               Quartz
21                         Sand Stowing
22                                Shale
24                          Silliminite
25                        Waste (Minor)
26    Waste Low Grade Quartzite (Minor)
Name: Mineral, dtype: object

In [68]:
years_cols = df.columns[df.columns!="Mineral"]
years_cols

Index(['2014 - 2015', '2015 - 2016', '2016 - 2017', '2017 - 2018',
       '2018 - 2019', '2019 - 2020', '2020 - 2021', '2021 - 2022',
       '2022 - 2023', '2023 - 2024', '2024 - 2025'],
      dtype='object')

In [69]:
df.groupby("Mineral", as_index=False)[years_cols].sum()

,Mineral,2014 - 2015,2015 - 2016,2016 - 2017,2017 - 2018,2018 - 2019,2019 - 2020,2020 - 2021,2021 - 2022,2022 - 2023,2023 - 2024,2024 - 2025
0,Bauxite,28281561.34,262230739.7,272416223.3,228446523.7,204143304.0,86434099.0,110223140.0,116421874.0,172325182.8,186290959.0,221516207.0
1,Chromite,0.0,50000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Coal,1602731.0,25404581.0,56516659.0,142605673.0,135891110.6,119310475.0,58012939.0,1578698455.0,1018204625.0,854695381.0,1098072489.0
3,Dolomite,11100.0,17264625.0,34353150.0,39600144.0,33810577.0,36681500.0,49835636.0,70055286.0,73298610.0,116249907.8,120569045.0
4,Fluorite,0.0,103680.0,1935150.0,490506.0,259625.0,1577551.0,698889.0,960630.0,431317.0,792000.0,396000.0
5,Iron Ore,1588934.0,177253821.9,199580366.0,185119687.0,247531998.0,213901163.7,290074810.5,1031615649.0,5520903225.0,7443802146.0,9718395899.0
6,Kynite,3554.0,124954.0,835515.0,3114149.0,2056981.0,993959.0,582495.0,406245.0,165264.0,757241.0,902605.0
7,Laterite,0.0,9686952.0,5441681.0,10900963.0,147406.0,0.0,0.0,0.0,0.0,0.0,0.0
8,Lateritic/Iron Ore,188005.0,5793223.0,7064525.0,8123700.0,0.0,0.0,0.0,0.0,120000.0,0.0,100000.0
9,Limestone,424599497.0,846276031.0,995275858.0,1301690489.0,1176066417.0,1547094095.0,1383107244.0,1828256176.0,1451535306.0,1606361895.0,1695853388.0
10,Manganese,5981126.0,76645521.49,296202334.0,304341282.6,277310819.4,315628659.2,341392218.0,579711839.0,526587879.5,114884169.5,421514668.0
11,Pyrophyllite,0.0,35300.0,79200.0,60000.0,26542.0,36627.0,17600.0,73060.0,8800.0,4400.0,18050.0
12,Quartz,250200.0,2497081.0,3373010.0,1747436.0,1437818.0,481789.0,616000.0,0.0,0.0,0.0,0.0
13,Sand Stowing,63090.0,63090.0,63090.0,63090.0,63090.0,63270.0,63270.0,816030.0,464850.0,369000.0,479700.0
14,Shale,0.0,5577122.0,0.0,0.0,482328.0,3648260.0,4016872.0,1363015.0,0.0,0.0,0.0
15,Silliminite,100700.0,87100.0,546777.0,508942.0,2025069.0,2104696.0,1768325.0,675839.0,72000.0,0.0,0.0
16,Waste (Minor),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,55984952.0,140408352.0
17,Waste Low Grade Quartzite (Minor),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,498000.0,444000.0

In [70]:
df.to_csv("Modified_Minerals.csv")

In [73]:
df.describe()

,Mineral,2014 - 2015,2015 - 2016,2016 - 2017,2017 - 2018,2018 - 2019,2019 - 2020,2020 - 2021,2021 - 2022,2022 - 2023,2023 - 2024,2024 - 2025
count,20,20.0,20.0,20.0,20.0,20.0,20.0,20.0,20.0,20.0,20.0,20.0
unique,18,12.0,18.0,15.0,15.0,15.0,15.0,15.0,13.0,13.0,14.0,15.0
top,Coal,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
freq,2,9.0,3.0,6.0,6.0,6.0,6.0,6.0,8.0,8.0,7.0,6.0

In [ ]:
df.